amqp
asgiref
attrs
billiard
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-email
django-environ
filelock
h11
idna
kombu
MouseInfo
outcome
packaging
pillow
platformdirs
prompt_toolkit
PyAutoGUI
pycparser
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
PySocks
python-dateutil
python-dotenv
pytweening
redis
requests
selenium
six
sniffio
sortedcontainers
sqlparse
trio
trio-websocket
typing_extensions
tzdata
urllib3
vine
virtualenv
wcwidth
webdriver-manager
wsproto